@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate100: hsl(202, 86%, 94%);
  --Slate300: hsl(203, 41%, 72%);
  --Slate500: hsl(200, 26%, 54%);
  --Slate700: hsl(200, 24%, 40%);
  --Slate900: hsl(202, 55%, 16%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Slate100);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}
.boxUno,
.boxDos {
  background-color: var(--White);
  width: 400px;
}
.boxUno {
  border-radius: 15px 0 0 15px;
  padding: 30px;
  color: var(--Slate700);
}

.boxDos {
  border-radius: 0 15px 15px 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-size: 1rem;
}

h1 {
  margin: 0;
}
.boxUno h1 {
  font-size: 1rem;
  color: var(--Slate900);
}

/* cuadro cabeza uno  */
.boxUno__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: var(--Slate500);
}

.boxUno__head input {
  all: unset;
  border-bottom: 1px dashed var(--Slate500);
  font-size: 0.7rem;
  padding: 0;
}

/* cuadro cabeza uno Fin  */

/* Monto de la hipoteca */
.boxUno__numeUno {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-top: 1px solid var(--Slate900);
  border-bottom: 1px solid var(--Slate900);
  border-right: 1px solid var(--Slate900);
  border-radius: 0 5px 5px 0;
}

.boxUno__numeUno:focus {
  outline: none;
  border: 2px solid var(--Lime);
  border-left: none;
}

.cuadro {
  height: 100%;
  background-color: var(--Slate300);
  color: var(--Slate900);
  width: 30px;
  text-align: center;
  font-size: 12px;
  padding: 7.5px;
  border-radius: 5px 0 0 5px;
  border-top: 1px solid var(--Slate900);
  border-left: 1px solid var(--Slate900);
  border-bottom: 1px solid var(--Slate900);
}
/* Monto de la hipoteca fin */

.boxUno__info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}

.boxUno__d1 select {
  width: 120px;
  border: none;
  padding: 5px;
  border-top: 1px solid var(--Slate900);
  border-left: 1px solid var(--Slate900);
  border-bottom: 1px solid var(--Slate900);
  border-radius: 5px 0 0 5px;
}
.boxUno__d2 input {
  width: 120px;
  padding: 5px;
  border-top: 1px solid var(--Slate900);
  border-left: 1px solid var(--Slate900);
  border-bottom: 1px solid var(--Slate900);
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.linea {
  display: flex;
  align-items: center;
  padding: 0;
}

.cuadro2 {
  background-color: var(--Slate300);
  padding: 7px;
  border-radius: 05px 5px 0;
  border-radius: 0 5px 5px 0;
  border-top: 1px solid var(--Slate900);
  border-right: 1px solid var(--Slate900);
  border-bottom: 1px solid var(--Slate900);
}

/* cuadro Resultados */

.boxDos__cub {
  background-color: var(--Slate900);
  height: 100%;
  padding: 1.8rem;
  color: var(--White);
  border-radius: 0 15px 15px 50px;
  text-align: center;
}

.boxDos__cub img {
  width: 120px;
}

.boxDos__cub p {
  font-size: 12px;
  margin-top: 10px;
}

.resultado {
  text-align: left;
  display: none;
}

.boxDos__caratula {
  /* display: none; */
}

.resultado__data {
  border-top: 3px var(--Lime) solid;
  width: 100%;
  height: 250px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: hsla(203, 52%, 5%, 0.26);
  margin-top: 20px;
}

.resultado__text h4 {
  margin-bottom: 20px;
}

.resultado__data h4 {
  font-size: 15px;
}

.resultado__Dato {
  color: var(--Lime);
  font-size: 50px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.575);
  padding: 20px 0;
}

.resultado__total {
  margin: 20px 0 !important;
}

@media screen and (max-width: 800px) {
  .boxUno {
    border-radius: 20px 20px 0 0;
  }
  .boxDos__cub {
    border-radius: 0 0 20px 20px;
  }
}
